*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

body{
    background-color: #EFEFEF;
    text-rendering: optimizeLegibility !important;
    margin: 0;
    padding: 0;
    height: 100vh;
}

@font-face{
    font-family: 'Signika';
    src: local('Signika'), url('./fonts/Signika-VariableFont_wght.ttf') format('truetype');
}